/* App.css */
.container2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 30px;
}
h1{
  color:cornflowerblue;
  text-shadow: 2px 2px 4px gray; 
}
button {
  color: red;
  padding: 5px;
}

label {
  color: blue;
}

input {
  color: green;
}

.toggleApp {
  background-color: aliceblue;
  padding: 10px;
  margin: 30px;
  color: #ff6633;
}